In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv("Copy of terrorismData.csv")
df = data.copy()

In [3]:
#question 1 the most dangerous city 

a  = df[df.State == "Jammu and Kashmir"]

In [4]:
#the most dangerous city 
a.City.describe()

b = a[a.City == 'Srinagar']
b.City.count()

657

In [5]:
#most active terroist group 
b = b[b.Group != 'Unknown']
b.Group.describe()

count                    351
unique                    48
top       Muslim Separatists
freq                      55
Name: Group, dtype: object

In [6]:
# quetsion 2

In [7]:
# the country with maximum number of terror attack 
df['Country'].value_counts()[df['Country'].value_counts() == df['Country'].value_counts().max()]

Iraq    24636
Name: Country, dtype: int64

In [8]:
# year in max number of attcks took place 
a = df[df.Country == 'Iraq']
a['Year'].value_counts()[a['Year'].value_counts() == a['Year'].value_counts().max()]

2014    3933
Name: Year, dtype: int64

In [9]:
# quetsion 3

In [10]:
# most dangerous attack on mankind 
df.Killed.max()

1570.0

In [11]:
#full information ragarding that 
a =df[df.Killed == 1570.0 ]
a

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
133518,2014,6,12,Iraq,Saladin,Middle East & North Africa,Tikrit,34.621521,43.668377,Hostage Taking (Kidnapping),1570.0,NaN,Soldiers,06/12/2014: Assailants abducted approximately ...,Islamic State of Iraq and the Levant (ISIL),Military,Firearms

In [12]:
# quetsion 4

In [13]:
df  = df[(df.Year >=2014 )& (df.Year <=2020) & (df.Month == 5) & (df.Day == 26) & (df.Country == 'India')]

In [14]:
# the number of attck is equal to the count of attack type clear from excel 
df.AttackType.count()

17

In [15]:
# the group which is most active during this peiod of time
a = df[df.Group != 'Unknown']
a['Group'].value_counts()[a['Group'].value_counts() == a['Group'].value_counts().max()]

Maoists    3
Name: Group, dtype: int64

In [16]:
#question 5

In [17]:
df = df[df.Country == 'India']
df = df[(df.State == 'Jammu and Kashmir') | (df.State == 'Jharkhand') | (df.State == 'Odisha')| (df.State == 'Andra Pradesh') | (df.State == 'Chhattisgarh') ]

In [18]:
df['Frequency'] = (df['Killed']+ df['Wounded'])/ df['Year']
df.Frequency

148586    0.000496
162873    0.000000
162874    0.000496
162892    0.000496
162895    0.000496
175240    0.000000
175244    0.000496
175245    0.000000
Name: Frequency, dtype: float64